<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">CritiquesShelf</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/browse']">
                        <span class='glyphicon glyphicon-book'></span> Browse
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/profile']">
                        <span class='glyphicon glyphicon-user'></span> Profile
                    </a>
                </li>
                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>-->
                <li *ngIf="isAdmin" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/bookAproval']">
                        <span class='glyphicon glyphicon-th-list'></span> Book Approvals
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
