Source/CritiquesShelf/.vs/
Source/CritiquesShelf/CritiquesShelfBLL/obj/
Source/CritiquesShelf/CritiquesShelfBLL/bin/
*.DS_Store
Source/CritiquesShelf/CritiquesShelf.userprefs
Source/CritiquesShelf/CritiquesShelf/secret.json
Source/CritiquesShelf/CritiquesShelf/secret.json
*.targets
