<h2>Profile</h2>
<div class="parallel-divs-parent">
    <div class="parallel-divs-narrow">
        <div class="container-fluid" style="height:100px;width:400px">
            <div class="row">
                <div class="col-md-4">
                    <img style="height:150px;width:100px" src="data:image/JPEG;base64,{{user.photo}}"/>
                </div>
                <div class="col-md-6" ng-disabled="true">
                    <form>    
                        <mat-form-field>
                            <input matInput placeholder="First Name" ng-model="user.firstName" value="{{user.firstName}}"/>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Last Name" ng-model="user.lastName" value="{{user.lastName}}" />
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="E-mail" ng-model="user.email" value="{{user.email}}" />
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="parallel-divs-wide">
        favourites grid
    </div>
</div>
<div>
    <h3>Reviews</h3>
    <div *ngFor="let review of user.reviews">
        <div>
            <review [review]="review"></review>    
        </div>
        
    </div>
</div>