
<body>
    <h2>Welcome to critiques shelf, enjoy browsing our collection of books and dont be shy to write some reviews of your own.</h2>
    <p> Deep down every one is a critique.</p>

    <mat-card style="margin-bottom: 10px">
        <div>
            <h3>Trending books</h3>
            <bookList [books]="trendingBooks"></bookList>
        </div>
    </mat-card>
    <mat-card>
        <div class="reviews">

            <h3>Trending reviews</h3>
            <div *ngFor="let review of  trendingReviews">
                <div>
                    <review [review]="review" [readOnly]="true"></review>
                </div>
            </div>

        </div>
    </mat-card>
</body>