<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CritiquesShelf</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body class="backGroundImage">
    
        @RenderBody()

        @RenderSection("scripts", required: false)
     
</body>
</html>
<style>
    .backGroundImage {
        /*// background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/the-most-beautiful-library-in-every-us-state.jpg");*/
        background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("www.artsfon.com/pic/201505/1920x1080/artsfon.com-68989.jpg");
    }

  
</style>