<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="book-container">
        <div *ngFor="let book of books" class="book-container-item">
            <div class="table">
                <div class="row">
                    <h1>User {{book.proposerName}} proposed book:</h1>
                </div>
                <div class="row">
                    <div class="book-container-item">
                        <bookDisplay [book]="book" [showCheckbox]="false"></bookDisplay>
                    </div>
                </div>
                <div class="row page-bar">
                    <span>
                        <button (click)="approve(book.id)" class="approve-button" color="accent" mat-raised-button [disabled]="requestInProgress">Approve</button>
                        <button mat-raised-button class="reject-button" color="warn" (click)="reject(book.id)" [disabled]="requestInProgress">Reject</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <span class="page-bar">

        <button mat-fab color="accent" style="margin:auto 10px auto 10px" (click)="prevPage()" [disabled]="page==0 || requestInProgress"><</button>

        <button mat-fab color="accent" style="margin:auto 10px auto 10px" (click)="nextPage()" [disabled]="!hasNext || requestInProgress">></button>
    </span>
</body>
</html>