<mat-card style="width: 400px">
    <mat-card-header style="height: 64px">
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.datePublished}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="container-fluid" style="height:220;width:400px">
            <div class="row">
                <div class="col-md-4"><img style="height:150px;width:100px" src="{{book.cover}}" /></div>
                <div class="col-md-6">
                    <div class="row">
                        <label>Authors:</label>
                        <div class="list-div">
                            <div *ngFor="let author of book.authorsNames">{{author}} </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>Tags:</label>
                        <div class="list-div">
                            <div *ngFor="let tag of book.tags">{{tag}} </div>
                        </div>

                    </div>
                    <div class="row">
                        <label>Score:</label> {{book.score}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 description">
                    {{book.description}}
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions style="margin-left: 12px;">
        <div *ngIf="showCheckbox">
            <mat-checkbox [disabled]="requestInProgress" [checked]="book.favourite" (change)="favouritesToggled()">
                Favourite
            </mat-checkbox>
            <mat-checkbox [checked]="book.read" (change)="readToggled()" [disabled]="book.likeToRead===true || requestInProgress">
                Read
            </mat-checkbox>
            <mat-checkbox [checked]="book.likeToRead" (change)="likeToReadToggled()" [disabled]="book.read===true || requestInProgress">
                Like to read
            </mat-checkbox>
        </div>
    </mat-card-actions>
</mat-card>
