body {
}
.parallel-divs-parent {
    display: flex;
}

.parallel-divs-narrow {
    width: 200px;
    background: lightblue;
    /* Just so it's visible */
}

.parallel-divs-wide {
    flex: 1;
    /* Grow to rest of container */
    background: lightgreen;
    /* Just so it's visible */
}
