body {
    /*opacity: 0.7;*/
}
.page-link {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.page-bar {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

 

.spacer {
    flex: 1 1 auto;
}
.no-padding {
   padding:0px 0px 0px 0px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}